{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks", "plugin:react/recommended"],
  "rules": {
    "no-console": "off",
    // "prettier/prettier": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": ["js", ".jsx"]
      }
    ],
    "react-hooks/exhaustive-deps": "warn",
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "react/destructuring-assignment": [0, "never"],
    "eqeqeq": ["error", "smart"],
    "no-unused-vars": "off",
    "no-extra-boolean-cast": "off",
    "react/static-property-placement": "off",
    "react/no-unused-state": "off",
    "comma-dangle": [2, "always-multiline"],
    "linebreak-style": 0,
    "import/named": "off",
    "react/prop-types": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "allowImportExportEverywhere": "true"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint"
}
