variables:
  FF_USE_FASTZIP: "true"
  ARTIFACT_COMPRESSION_LEVEL: default
  CACHE_COMPRESSION_LEVEL: default
  TRANSFER_METER_FREQUENCY: 5s

stages:
  - Test
  - Build
  - Quality-Analysis

cache: &global_cache
  - key: $CI_COMMIT_REF_NAME_MODULE
    paths:
      - node_modules/
    when: on_success
    policy: pull
    untracked: true

Install:
  image: timbru31/node-alpine-git
  stage: .pre
  cache:
    - key: $CI_COMMIT_REF_NAME_YARN
      paths:
        - .yarn/
      when: on_success
      policy: pull-push
    - key: $CI_COMMIT_REF_NAME_MODULE
      paths:
        - node_modules/
      when: on_success
      policy: pull-push
  tags:
    - build
  script:
    - yarn install --frozen-lockfile --cache-folder .yarn --prefer-offline
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "pipeline-test"'

Lint-test:
  stage: Test
  image: timbru31/node-alpine-git
  cache:
    - key: $CI_COMMIT_REF_NAME_LINT
      paths:
        - .eslint
    - *global_cache
  script:
    - yarn lint
  allow_failure: false
  tags:
    - test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "pipeline-test" && $CI_MERGE_REQUEST_STATE != "merged"'
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test" && $CI_MERGE_REQUEST_STATE != "merged"'

Unit-test:
  stage: Test
  image: timbru31/node-alpine-git
  cache:
    - *global_cache
  script:
    - yarn test --passWithNoTests
  allow_failure: false
  tags: 
    - test
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "pipeline-test" && $CI_MERGE_REQUEST_STATE != "merged"' 
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test" && $CI_MERGE_REQUEST_STATE != "merged"'

Build:
  image: timbru31/node-alpine-git
  cache:
    - *global_cache
  artifacts:
    paths:
      - ./build
  before_script:
    - export NODE_OPTIONS=--openssl-legacy-provider
  script:
    - yarn build
  stage: Build
  tags:
    - build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "pipeline-test"'

Sonarqube:
  stage: Quality-Analysis
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: ['']
  variables:
    SONAR_USER_HOME: '${CI_PROJECT_DIR}/.sonar'
    GIT_DEPTH: '0'
  cache:
    key: $CI_COMMIT_REF_NAME_SONARQUBE
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.qualitygate.wait=true -Dsonar.login=$SONAR_TOKEN
  allow_failure: true
  tags:
    - test
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test"'

Lighthouse:
  allow_failure: true
  image: cypress/browsers:node-18.16.0-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
  cache:
    - *global_cache
  script:
    - yarn run lhci autorun
  after_script:
    - yarn run lhci upload --target=lhci 
                           --serverBaseUrl=$LHCI_SERVER_BASE_URL 
                           --token=$LHCI_TOKEN 
                           --basicAuth.username=$LHCI_AUTH_USERNAME 
                           --basicAuth.password=$LHCI_AUTH_PASSWORD
                           
  stage: Quality-Analysis
  tags:
    - test
  needs:
    - job: Build
      artifacts: true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "pipeline-test"'
    
      