.page {
  min-height: 100vh;
  width: 100vw;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
}

.main-bar {
  height: 75px;
  width: 100%;
  background-color: black;
  color: azure;
}

.side-bar {
  width: 300px;
  background-color: white;
}

.content {
  width: 100%;
}

.panel {
  margin-top: 100px;
}
