.reset-password-form
.forget-password-form
.login-form {
  position: absolute;
  width: 740px;
  padding: 124px 150px 50px 150px;
}

#login-username {
  width: 350px;
}

.forget-password-form-content
.reset-password-form-content
.login-form-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
