/* DateRangePicker */
.rdrCalendarWrapper {
  /* font-size: 20px; */
  width: 294px;
}
.rdrMonthAndYearWrapper {
  padding: 0;
  height: 45px;
}
.rdrMonthAndYearPickers {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.rdrWeekDays {
  width: 294px;
}
.rdrMonth {
  padding: 0;
}
.rdrDay {
  width: 42px;
  height: 42px;
}
.rdrDayNumber {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.rdrInRange {
  height: 42px;
  top: 0;
  background: #8dd1ff;
}
.rdrEndEdge {
  height: 42px;
  right: 0;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #6dc5ff;
}
.rdrStartEdge {
  height: 42px;
  left: 0;
  top: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #1ea5ff;
}

.rdrDayStartOfMonth .rdrInRange,
.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge,
.rdrDayStartOfMonth .rdrDayInPreview,
.rdrDayStartOfMonth .rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayInPreview,
.rdrDayStartOfWeek .rdrDayEndPreview {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge,
.rdrDayEndOfMonth .rdrDayInPreview,
.rdrDayEndOfMonth .rdrDayStartPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrDayStartPreview {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}

.rdrDayStartOfMonth .rdrStartEdge.rdrEndEdge,
.rdrDayStartOfWeek .rdrStartEdge.rdrEndEdge,
.rdrDayEndOfMonth .rdrStartEdge.rdrEndEdge,
.rdrDayEndOfWeek .rdrStartEdge.rdrEndEdge,
.rdrDayStartOfMonth .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayEndOfMonth .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayEndOfWeek .rdrDayStartPreview.rdrDayEndPreview {
  left: 0;
  border-radius: 10px;
}

.rdrDayStartOfMonth .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayEndOfMonth .rdrDayStartPreview.rdrDayEndPreview,
.rdrDayEndOfWeek .rdrDayStartPreview.rdrDayEndPreview {
  border-left-width: 1px;
  border-right-width: 1px;
}

.rdrDayStartPreview {
  height: 43px;
  top: -0.5px;

  /* border: none; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* background: #aaaaaa; */
}
.rdrDayInPreview {
  height: 43px;
  top: -0.5px;
  /* border: none; */
  /* background: #eaeaea; */
}
.rdrDayEndPreview {
  height: 43px;
  top: -0.5px;

  /* border: none; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background: #cacaca; */
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
  color: rgba(255, 255, 255);
}
