/* Code sections of Problem description etc. */
#setText > div > code {
  font-family: 'Noto Sans Mono';
  background-color: transparent;
}

#setText > pre > code {
  font-family: 'Noto Sans Mono';
  background-color: transparent;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.page {
  height: 100%;
}

.hide {
  display: none;
}

.sidebar-toggle-pin {
  width: 29px;
  height: 50px;
  top: 55px;
  left: 298px;
  background: #ffffff;
  box-shadow: 12px 3px 12px -5px rgb(0 0 0 / 20%);
  border-radius: 0px 10px 10px 0px;
  position: fixed;
  cursor: pointer;
  z-index: 1200;
  transition: 225ms cubic-bezier(0, 0, 0.2, 1);
}

.sidebar-line {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 25px;
  padding: 12px 0px;
}

.layout-content-container {
  position: absolute;
  left: 300px;
  top: 55px;
  width: calc(100% - 300px);
  height: calc(100vh - 55px);
  justify-items: center;
  overflow-y: scroll;
  min-width: 844px;
  transition: 225ms cubic-bezier(0, 0, 0.2, 1);
}

.layout-content-container-no-sidebar {
  left: 0;
  width: 100%;
  transition: 225ms cubic-bezier(0, 0, 0.2, 1);
}

.layout-content-container-no-sidebar > .sidebar-toggle-pin {
  left: -2px;
}

.layout-content {
  width: 80%;
  max-width: 1280px;
  margin: 70px auto;
}

.layout-content-title {
  margin-bottom: 50px;
}

#preview {
  padding: 0px !important;
}
