/** Noto Sans **/
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap'); */

@font-face {
  font-family: 'Noto Sans';
  src: local('Lato'), url(./fonts/NotoSans/NotoSans-Regular.ttf) format('truetype');
}

/*
@font-face {
  font-family: 'Noto Sans';
  font-weight: 100;
  src: local('Lato'), url(./fonts/NotoSans/NotoSans-Thin.ttf) format('truetype');
} */

@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  src: local('Noto Sans'), url(./fonts/NotoSans/NotoSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 500;
  src: local('Noto Sans'), url(./fonts/NotoSans/NotoSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  src: local('Noto Sans'), url(./fonts/NotoSans/NotoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 900;
  src: local('Noto Sans'), url(./fonts/NotoSans/NotoSans-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans Mono';
  src: url(./fonts//NotoSansMono/NotoSansMono_SemiCondensed-Regular.ttf) format('truetype');
}

/** Moon **/
@font-face {
  font-family: 'Moon';
  font-weight: 700;
  src: local('Moon 2.0'), url(./fonts/Moon/Moon2.0-Bold.otf) format('opentype');
}

/** Cascadia **/
@font-face {
  font-family: 'Cascadia';
  src: local('Cascadia'), url(./fonts/Cascadia/Cascadia.otf) format('opentype');
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
